body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav .brand-logo {
  font-size: 1.8rem;
}

.row {
  margin-bottom: 10px;
}

.card {
  transition: filter linear 0.2s;
}

.blurry {
  filter: grayscale(0.9) blur(7px);
}

.popup-message {
  z-index: 1000;
  top: 150px;
  width: 30%;
}

.player-name {
  padding: 4px;
}

.player-number {
  margin-bottom: 36px;
}

.shared-player {
  width: 12vh;
  outline: 2px solid white;

  &.active-player {
    outline-color: black;
  }

  p {
    font-size: 2em;
  }
}

.navbar-fixed {
  .nav-wrapper {
    font-size: 1.4em;
    padding: 0 12px;
  }
}

.player-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & .bottom {
    flex-direction: row-reverse;
    position: fixed;
    left: 0;
    bottom: 0;
  }
}

.btn + .btn {
  margin-left: 24px;
}
